@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.content-body {
    padding: 50px 0 0;
    min-height: 90vh;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}
.navigation-background .row {
    background-image: radial-gradient(4% 97%, #D72D30 0%, #CC0C5D 51%, #B21E54 100%);
    height: 100%;
    min-height: 50px;
}
a.navbar-brand {
    color:white !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fafafa;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.7);
}
.nav-item {
    font-size: 14px;
    font-weight: 600;
}

.nav-link .fas {
    margin-right: 6px;
}
.notification-icon {
    position: relative;
}
.badge-light {
    position: absolute;
    top: 3px;
    right: 15px;
}
.fa-bell {
    font-size: 16px;
}
.d-flex {
    align-items: center;
}
.user-pics img {
    max-width: 35px;
    border-radius: 50%;
}
.d-flex .user-profile-name {
    padding-left: 10px !important;
}
p,
label {
    color: #8b8b8b;
}
.media-body {
    font-size: 13px;
}

.film-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c2234b;
    padding-bottom: 10px;
}
.film-header-section h4 {
    margin-bottom: 0;
    font-size: 16px;
}

.film-header-section a {
    color: #212529;
}
.film-body {
    padding: 30px 0;
}
.film-body a {
    font-weight: 500;
    font-size: 15px;
    color: #494949;
    margin: 3px 0;
    text-decoration: none;
}
.film-body img {
    max-width: 100%;
    width: 100%;
    height:200px;
}
.contact-details-section {
    margin: 50px 0;
}
.education-details-section {
    margin: 0 0 50px 0;
}

.film-gallery {
    margin-bottom: 20px;
}
.film-gallery h5 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    margin: 15px 0;
}
.film-gallery .film-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.single-film {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #B31D52;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.dropbtn {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 20px 0;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 180px;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.arrow_div{
    display: none;
    border:solid 10px transparent;
    border-bottom-color: #fff;
    position: absolute;
    margin: -18px 0 0 55px;
}
.dropdown-content a {
    color: #494949;
    font-weight: 500;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content i {
    margin-right: 15px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #B31D52;
}
.dropdown:hover .dropdown-content, .dropdown:hover .arrow_div {
    display: block;
}
.rotate-signout {
    transform: rotate(180deg);
}

.copyright {
    border-top: 1px solid #aaaaaa;
    padding: 15px 0;
}
.copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p,
.copyright ul {
    color: #8b8b8b;
    margin-bottom: 0;
    opacity: .8;
    font-size: 11px;
}

.copyright ul {
    list-style: none;
    padding-left: 0;
}

.copyright li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 767px) {
    .copyright {
        padding: 30px 0;
    }
    .copyright .container {
        display: block;
        text-align: center;
    }
    .film-gallery {
        padding: 0 15px;
    }
    .film-gallery .film-info {
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .film-header-section {
        display: block;
    }
    .film-header {
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    .badge-light {
        right: auto;
        left: 6px;
    }
    .dropdown-content {
        right: auto;
    }
}
@media only screen and (max-width: 571px){
    .col-sm-2 {
        width: 50%;
    }
}


